div {
    margin-top: 20px;
}

.zen {
    width: 200px;
    border-radius: 110px;
    margin-bottom: 30px;
}

#search-box {
    padding: 9px 8px;
    border: solid 1.8px;
    border-radius: 3px;
    margin-bottom: 30px;
}

#google {
    font-family: sans-serif;
    padding: 9.5px 120px 9.5px 5px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
    resize: vertical;
    width: 80%;
    margin-bottom: 30px;
}

#google:focus {
    box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.25)
}

.email-label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 99, 99);
}

#email {
    padding: 7px 152px 7px 2px;
    margin-top: 7px;
    border-radius: 6px;
    outline: none;
    border: 1px solid;
    margin-bottom: 6px;
}

.details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(95, 94, 94);
    margin-bottom: 10px;
}

.cta {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 126px;
    background-color: rgb(73, 136, 255);
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: ease-in-out opacity 0.15s;
    margin-bottom: 30px;
}

.cta:hover {
    opacity: 0.85;
}

.cta:active {
    opacity: 0.75;
}

.form {
    margin-left: 6px;
}

.tweet {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border: none;
    outline: none;
    border-radius: 18px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
    resize: vertical;
    width: 26%;
    margin-bottom: 20px;
}

.tweet:active {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.tweet:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

.pfp {
    width: 60px;
    border-radius: 80px;
}

.placeholder {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;

    color: rgba(0, 0, 0, 0.678);
    border: none;
    outline: none;

}

.tweet-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(26, 174, 233);
    padding: 8.7px 19px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.tweet-button:hover {
    opacity: 0.87;
}

.tweet-button:active {
    opacity: 0.77;
    transform: translateY(4px);
}