body {
    height: 3000px;
}

.gray-box {
    position: fixed;
    width: 320px;
    height: 180px;
    bottom: 0;
    right: 0;
    background-color: grey;
}

.close-btn {
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px 6px;
    border-radius: 15px;
    cursor: pointer;
    top: -10px;
    left: -10px;
}

.time {
    font-size: 13px;
    position: absolute;
    color: white;
    background-color: black;
    bottom: 5px;
    right: 5px;
    padding: 3px 4px;
    border-radius: 3px;
}